@charset "utf-8";
html, body {
	font-family: 'LatoWeb';
	height: 100%;
}

img {
	width: 100%;
}

/**
 *
 * Various styling
 *
 */
.centered {
	text-align : center;
}

.bold {
	font-family: 'LatoWebBold';
}

.light {
	font-family : 'LatoWebLight';
}


/**
 *
 * Background colors
 *
 */
.bg-primary {
	background-color : #2291D6;
	color : #FFFFFF;
}

.bg-default {
	background-color : #EEF3F7;
}

.bg-white {
	background-color : #FFFFFF;
}

.bg-success {
	background-color : #67CB35;
}

.section {
	min-height: calc(100% - 1px);
}


/*Navigation Bar*/
.navbar-trans-initial {
	color: white;
	min-height: 0px;
	z-index: 2000;
	background: #2291D6;
}

.navbar-trans-initial a{
	color: lightgrey;
}
/*End of Navigation Bar*/



/*Section 1*/
#section1 {
	color : white;
}

.section1-header {
	padding-top: 3%;
	padding-bottom: 10%;
}

.section1-header h3{
	color: lightgrey
}
/*end of Section 1*/


/* Signup Section */
.signup-btn {
	font-size            : 32px;
	height               : 72px;
	-webkit-border-radius: 10px;
	-moz-border-radius   : 10px;
	border-radius        : 10px;

	padding-left: 20px;
	padding-right: 20px;

	width: 30%
}

.signup-input {
	font-size            : 36px;
	height               : 72px;
	padding-left         : 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius   : 10px;
	border-radius        : 10px;

	width: 68%;
}

.signup-form {
	background-color : #1D83C1;
	padding : 20px 20px;

	-webkit-border-radius: 15px;
	-moz-border-radius   : 15px;
	border-radius        : 15px;

	margin-top: 10px;
}
/* Signup Section End */

