@charset "utf-8";
html, body {
	font-family: 'LatoWeb';
	height: 100%;
}

img {
	width: 100%;
}

/**
 *
 * Various styling
 *
 */
.no-gutter > [class*='col-'], .no-gutter-container {
	padding-right: 0;
	padding-left : 0;
}

.centered {
	text-align : center;
}

.bold {
	font-family: 'LatoWebBold';
}

.light {
	font-family : 'LatoWebLight';
}

.text-blue {
	color : #1383C5 !important;
}

.text-dark-blue {
	color : #263846 !important;
}

.text-gray {
	color : #5C5C5C !important;
}

.text-black {
	color : #000000 !important;
}

.text-success {
	color : #67CB35;
}

.text-white {
	color : #FFFFFF !important;
}

h1 {
	font-size : 48px;
}

p {
	font-size: 16px !important;
}

.no-bottom-margin {
	margin-bottom: 0 !important;
}

/**
 *
 * Background colors
 *
 */
.bg-primary {
	background-color : #2291D6;
	color : #FFFFFF;
}

.bg-default {
	background-color : #EEF3F7;
}

.bg-white {
	background-color : #FFFFFF;
}

.bg-success {
	background-color : #67CB35;
}

.bg-dark {
	background-color: #1D83C1;
}

.section {
	/*min-height: calc(100% - 1px);*/
}

/*Navigation Bar*/
.navbar-trans-initial {
	color: white;
	min-height: 0px;
	z-index: 2000;
	background: #2291D6;
}

.navbar-trans-initial a{
	color: white;
}
/*End of Navigation Bar*/



/*Section 1*/
#section1 {
	color : white;
}

.section1-header {
	padding-top: 3%;
	padding-bottom: 10%;
}

.section1-header h3{
	color: lightgrey
}

.section1-symbol-center {
	padding-top: 5%;
	text-align: center;
}

/*end of Section 1*/

/*Income Section*/

#howItWorksModal {
	padding-top: 2%;
}

.video-loader {
	cursor: pointer;
}


/* End of Income Section * /


/* How can adzoco-help */
.concept-section-heading {
	font-size : 48px !important;
}

.concept-section-p {
	font-size: 14px !important;
}

.concept-icon {
	font-size: 108px;
}

/* How can adzoco help end*/

/* Receive Payments Section */
.receive-heading {
	margin-bottom: 20px !important;
}

/* Receive Payments Section End */

/* Explore Section */
.explore-heading {
	margin-bottom: 20px !important;
}

.explore-btn {
	font-size            : 48px;
	height               : 84px;
	-webkit-border-radius: 0;
	-moz-border-radius   : 0;
	border-radius        : 0;

	padding-left : 20px;
	padding-right: 20px;
}

.explore-input {
	font-size            : 48px;
	height               : 84px;
	padding-left         : 20px;

}

.map-canvas {
	height: 200px;
}

.canvas-container {
	padding-top : 20px;
}

.canvas-container > h1 {
	font-size: 84px;
}

.listing-container {
	margin-top : 10px;
}

.listing-icon {
	font-size: 64px;
}

.listing-count {
	font-size   : 72px;
	padding-left: 10px;
}

.listing-title {
	margin-top: 1px;
}
/* Explore Section End */

/* Signup Section */
.signup-section h1 {
	margin-top : 0;
	font-size: 48px;
}

.signup-btn {
	font-size            : 36px;
	height               : 72px;
	-webkit-border-radius: 10px;
	-moz-border-radius   : 10px;
	border-radius        : 10px;

	padding-left : 20px;
	padding-right: 20px;

	width: 30%
}

.signup-input {
	font-size            : 36px;
	height               : 72px;
	padding-left         : 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius   : 10px;
	border-radius        : 10px;

	width: 68%;
}

.signup-form {
	background-color: #1D83C1;
	padding         : 20px 20px;

	-webkit-border-radius: 15px;
	-moz-border-radius   : 15px;
	border-radius        : 15px;

	margin-top: 10px;
}

@media (max-width: 730px) {
	.signup-input {
		width        : 100%;
		margin-bottom: 20px;
	}

	 .signup-btn {
		width : 100%;
	}
}
/* Signup Section End */
